<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pagina 4-Doenças Psicológicas</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    
     <div class="header">
        
         <img src="../IMG/banner cabeçalho.jpg" style="width: 1300px; height:400px;"/><br>
        
     </div>

     <div class="text">
        
         <h1 align="center">Doenças psicológicas relacionadas ao trabalho</h1>
        
     </div>
         <br><br><br>

             <ul type=circle style="color: aliceblue; size: 30px;" >

                 <h2>Depressão</h2>
        
                     <li>Com cerca de 12 milhões de brasileiros diagnosticados com depressão, 
                         não é de se admirar que uma parcela considerável dos profissionais que sofrem 
                         com doenças mentais relacionadas ao trabalho precisem lidar com o transtorno.<br>
                         De acordo com a Organização Mundial da Saúde, o Brasil é o país da América Latina com os maiores índices de depressão na população?<br>
                         Cerca de 5,8% dos habitantes têm a doença.<br>
                         Além disso, os transtornos mentais já estão entre os principais motivadores do afastamento do trabalho, com a depressão sendo uma das líderes neste quesito.<br>
                         A doença tem causas que precisam ser investigadas e tratadas individualmente, porém é inegável o impacto do excesso de tarefas, da cobrança exagerada dos superiores 
                         e do assédio moral como causadores da depressão no trabalho.</li><br>
    
                         <br><br><br><br><br><br>

                <h3>Clique no link abaixo e realize nosso teste para diagnosticar uma possível depressão.</h3>
                         <br><br>
             </ul>
         <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=bEY47UG2fUOa6dgBuCn6lOap01kCpsRMiEup3ln6pWpUOEpYWVVMVTJYTEhXR0JNQklETzVSNUlKTy4u&embed=true"></iframe>Clique aqui para fazer o teste.</a>
       
         <br><br>
                 <h4>Obrigada pela sua visita!</h4>
                 <span style="color: deeppink;size: 0vmax; font-style: italic;">MEU PROFESSOR NÃO GOSTA DE RESPONDER EMAIL!</span><br>
                 <span style="color: deeppink;size: 0vmax; font-style: italic;">PORÉM....ELE AMA DOCES!</span>
                         <br/>
     <a href="../INDEX.html"> <img src="../IMG/home.png" style="width: 50px; height:50px;"></a>

     <a href="../VIEW/Page3.html"><img src="../IMG/esquerda.png" style="width: 50px; height:50px;"></a>
    
     
</body>
</html>