<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pagina 2-Doenças Psicológicas</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    
     <div class="header">
        
         <img src="../IMG/banner cabeçalho.jpg" style="width: 1300px; height:400px;"/><br>
        
     </div>

     <div class="text">

         <h1 align="center">Doenças psicológicas relacionadas ao trabalho</h1>
        
     </div>
         <br><br><br>
          
             <ul type=circle style="color: aliceblue; size: 30px;" >

                <h2>Estresse ocupacional</h2><br>
    
                     <li>Além da depressão, a quantidade exagerada de demandas para equipes cada vez mais enxutas provoca o 
                        chamado estresse ocupacional, mais uma doença mental relacionada ao trabalho.<br> 
                        A sua incidência é infinitamente maior do que a depressão nas empresas ? Pesquisas apontam que o 
                        estresse relacionado ao trabalho atinge nada menos que 70% dos brasileiros.<br>
                        A ideia de que a tecnologia tornaria a vida profissional mais simples, fácil e ágil ? E assim, deixaria 
                        as pessoas mais tranquilas para executarem suas tarefas ? Não se provou totalmente verdadeira.<br> 
                        Embora os índices de produtividade tenham aumentado nos últimos anos, o acesso às ferramentas de trabalho 
                        em qualquer hora e lugar também vêm impactando a vida pessoal e a saúde mental dos colaboradores.<br>
                        Ter celulares, notebooks e tablets disponíveis mesmo em momentos de lazer também tornou mais fácil ser 
                        encontrado por chefes, clientes e colegas. A consequência disso é uma maior ansiedade e senso de urgência 
                        em resolver pendências, mesmo em horários que deveriam ser de folga e relaxamento. Não surpreende, portanto,
                        os elevados indicadores de estresse ocupacional na população.</li><br>

                     <br><br><br><br><br><br>

                 <h2>Ansiedade</h2><br>
    
                     <li>A ansiedade geralmente está associada à depressão e, como qualquer doença mental, precisa ser investigada
                         de forma individual. Há uma série de razões pelas quais uma pessoa pode passar a ter um Transtorno de Ansiedade,
                         porém não se pode negar o impacto que um ambiente de trabalho tóxico possa ter para que a condição se manifeste.<br>
                         No total, 9,3% da população brasileira sofre de ansiedade, um problema bem mais impactante entre as mulheres: 7,7% 
                         delas são ansiosas, ante a 3,6% dos homens.<br>
                         Quando se fala em ansiedade no trabalho, as causas podem ser prazos curtos,metas inatingíveis e a necessidade constante de demonstrar resultados.</li><br>
    
             </ul>

                         <br><br><br><br><br><br>

                    <h3>Continue lendo mais sobre o tema na página a seguir...</h3>
        
                         <br/>
    
    <a href="../INDEX.html"><img src="../IMG/home.png" style="width: 46px; height:46px;"></a>
    
    <a href="../VIEW/Page1.html"><img src="../IMG/esquerda.png" style="width: 50px; height:50px;"></a>

    <A href="../VIEW/Page3.html"> <img src="../IMG/direita.png"style ="width: 46px; height:46px;"></A> 
    
</body>
</html>