<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pagina 3-Doenças Psicológicas</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    
     <div class="header">
        
         <img src="../IMG/banner cabeçalho.jpg" style="width: 1300px; height:400px;"/><br>
        
     </div>

     <div class="text">
        
         <h1 align="center">Doenças psicológicas relacionadas ao trabalho</h1>
        
     </div>
        <br><br><br>

             <ul type=circle style="color: aliceblue; size: 30px;" >

                 <h2>Síndrome de Burnout</h2><br>
        
                     <li>Outra consequência do trabalho e das cobranças em excesso é a Síndrome de Burnout.<br> 
                         Quando os níveis de estresse ocupacional se tornam muito grandes, os indivíduos ficam
                         exaustos mentalmente e fisicamente. Assim surge o Burnout, que é justamente essa sensação
                         de estar completamente exaurido e incapacitado para realizar qualquer atividade profissional,
                         já que o estresse se torna crônico.<br>
                         Ambientes altamente competitivos associados a excessos no dia a dia de trabalho e a colaboradores
                         ansiosos são sinais de que a Síndrome de Burnout pode se tornar uma realidade na vida de qualquer pessoa.<br>
                         Estima-se que essa doença mental relacionada ao trabalho já atinge 20 milhões de trabalhadores no Brasil,
                         ou um em cada cinco profissionais.</li><br>
    
                         <br><br><br><br><br><br>

                 <h2>Síndrome do Pânico</h2>

                     <li>Um nível acima da ansiedade, a Síndrome do Pânico provoca crises agudas e inesperadas, que misturam sentimentos de desespero e medo e pode se associar a sintomas físicos, como falta de ar e dor no peito?<br>
                         Não é à toa que, muitas vezes, confunde-se com um ataque cardíaco.<br>
                         Embora tenha fatores genéticos envolvidos, o pânico também pode surgir em função de situações de trabalho que se repetem, acumulando situações de ansiedade e estresse ocupacional constantes.</li><br>

            </ul>

                         <br><br><br><br><br><br>

                 <h3>Continue lendo sobre o tema na página a seguir...</h3>
    
                          <br/>
    <a href="../INDEX.html"><img src="../IMG/home.png" style="width: 46px; height:46px;"></a>
    
    <a href="../VIEW/Page2.html"><img src="../IMG/esquerda.png" style="width: 50px; height:50px;"></a>
    
    <A href="../VIEW/Page4.html"> <img src="../IMG/direita.png"style ="width: 46px; height:46px;"></A>
    
</body>
</html>