<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pagina home-Doenças Psicológicas</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    
     <div class="header">
        
         <img src="../IMG/banner cabeçalho.jpg" style="width: 1300px; height:400px;"/><br>
        
     </div>

     <div class="text">

            <h1 align="center">Doenças psicológicas relacionadas ao trabalho</h1>
        
        </div>
            <br><br><br>

            <h5>Doenças mentais relacionadas ao trabalho: conheça as mais impactantes</h5><br>
                <br><br><br>
                 <p>Um percentual cada vez mais significativo da população mundial sofre de transtornos psicológicos.<br> 
                    Não se pode afirmar que todos eles sejam motivados pela vida profissional, já que as causas são muito variadas.<br>
                    Ainda assim, o fato é que as doenças mentais relacionadas ao ambiente de trabalho vêm ganhando mais espaço e trazendo mais impactos para o dia a dia das pessoas e das empresas.<br>
                    Entre eles, estão prejuízos ao clima organizacional, a queda de produtividade e resultados insuficientes para as metas 
                    de cada organização, sem falar na dificuldade que os profissionais passam a ter de se destacarem e crescerem profissionalmente.<br>
                    É fundamental ficar atento à forma como os fatores psicossociais se manifestam no dia a dia.</p><br>
        
                <br><br><br>

            <h2>Entenda quais são os prejuízos derivados de doenças mentais no trabalho</h2><br>
                 <br>
                 <p>As doenças mentais relacionadas ao trabalho trazem uma série de prejuízos à saúde das pessoas, mas também impactam suas carreiras
                   e dificultam o crescimento profissional. Além disso, são prejudiciais para os resultados das empresas.<br>
                   É por isso que, cada vez mais, recomenda-se que colaboradores e líderes entendam a necessidade de prezar por um ambiente de trabalho mais saudável para todos.<br>
                   Acompanhe a seguir os principais prejuízos para todos os envolvidos.<br>
                 </p>

            <br><br><br><br>
             
            <ol type="I" style="color: aliceblue; size: 30px;" >

                <li>Péssimo clima organizacional<br>
                <br><br>
                    Um ambiente profissional com pessoas estressadas se torna mais carregado, tenso e cansativo.<br>
                    Isso impacta a produtividade, inclusive, dos colaboradores que estão bem mentalmente. Explosões de raiva,<br>
                    conflitos e má avaliação do desempenho dos colegas, com cobranças e brigas, tornam-se comuns neste cenário.</li><br>
                    <br><br><br>
                <li>Longos períodos de afastamento<br> 
                    <br><br>
                    Quando um colaborador sofre de estresse ocupacional e Síndrome de Burnout, é inevitável seu afastamento do trabalho?<br>
                    Muitas vezes, por períodos indeterminados. Ou seja, não se sabe quando o profissional poderá retornar às suas atividades.<br>
                    Isso traz prejuízos tanto para o indivíduo, que não consegue levar uma vida normal, quanto para a organização, que investe em um profissional
                    sem ter o retorno de seu trabalho.</li><br>
                    <br><br><br>
                <li>Absenteísmo<br>
                    <br><br>
                    Mesmo quando o profissional não se afasta efetivamente da empresa, um fenômeno chamado de absenteísmo pode ocorrer.<br>
                    Trata-se de uma situação em que, apesar de estar fisicamente presente no ambiente de trabalho, o colaborador não está lá mentalmente?<br>
                    Ou seja, tem dificuldade em focar nas suas tarefas. Isso provoca prejuízos no cumprimento de prazos, no atendimento a clientes e, consequentemente,
                    nos resultados da empresa.</li><br>
                    <br><br><br>
                <li>Queda de produtividade<br>
                    <br><br>
                    Ainda que não precise se afastar de suas atividades e não apresente sintomas de absenteísmo, um profissional pode ter seu desempenho prejudicado
                    pelas doenças mentais relacionadas ao trabalho. Essa queda de produtividade impede que ele execute suas tarefas com a agilidade e a qualidade que é 
                    capaz de proporcionar, trazendo prejuízos a todos.</li><br>
                    <br><br><br>
            </ol>
             
            <br><br><br>
                 <p>O assunto é extremamente delicado, mas é fundamental dar a devida atenção ao tema para garantir o bem-estar das equipes
                    e os melhores resultados para as organizações. Há, inclusive, empresas especializadas em programas de prevenção a essas doenças.<br>
                 </p>
        
            <h3>Saiba quais são as cinco principais doenças psicológicas que podem nos afetar no trabalho nas página a seguir...</h3>
    
            <br/>
    <a href="../INDEX.html"> <img src="../IMG/home.png" style="width: 50px; height:50px;"></a>

    <A href="../VIEW/Page2.html"> <img src="../IMG/direita.png"style ="width: 50px; height:50px;"></A> 
    
</body>
</html>